<form class="calculation__form">
    <!-- input -->
    <div class="calculation-row">
        <div class="calculation-column">
            <div class="input-box">
                <label for="category">Категория товара:</label>
                <input id="category" type="text" placeholder="Категория товара">
            </div>
            <div class="input-box">
                <label for="weight">Вес груза (кг):</label>
                <input id="weight" type="number" placeholder="Введите вес">
            </div>
        </div>
        <div class="calculation-column">
            <div class="input-box">
                <label for="price">Стоимость груза:</label>
                <input id="price" type="number" placeholder="Введите стоимость">
            </div>
            <div class="input-box">
                <label for="size">Объем груза (м3):</label>
                <input id="size" type="number" placeholder="Введите объем">
            </div>
        </div>
    </div>
    <!-- chekcbox, input -->
    <div class="calculation-row">
        <div class="calculation-column">
            <div class="input-box">
                <input id="insurance" type="checkbox">
                <label for="insurance">Страховка</label>
            </div>
            <div class="input-box">
                <input id="customs" type="checkbox">
                <label for="customs">Таможенное оформление</label>
            </div>
        </div>
        <div class="calculation-column">
            <div class="input-box">
                <label for="code">Код ТН ВЭД:</label>
                <input id="code" type="text" placeholder="Введите код">
            </div>
        </div>
    </div>
    <!-- Input-File -->
    <div class="calculation-row">
        <div class="calculation-column">
            <div class="input-box">
                <div class="input-box">
                    <div id="file-name">
                        фотография.jpeg
                    </div>
                    <input class="input-file" id="fileInput" name="fileInput" type="file">
                    <label for="fileInput">Загрузить фото товара</label>
                </div>
            </div>
        </div>
    </div>
    <!-- Button -->
    <div class="calculation-row">
        <div class="calculation-column">
            <div class="input-box">
                <button type="button" class="btn btn-primary btn-lg">
                    Следующий шаг<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
    </div>
</form>